<nav class="navbar navbar-expand-md navbar-dark bg-dark static-top mb-3 py-3">
  <div class="container">
    <a href="#" class="navbar-brand"><span class="text-warning">Flight</span> Reservation</a>
  </div>
</nav>

<div class="container">
  <ul class="nav mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link nav-active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
        aria-controls="pills-home" aria-selected="true">Flights</a>
    </li>
  </ul>

  <!-- Form field to get the user input -->

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <form [formGroup]="bookingForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="bookingFrom">From</label>
            <input type="text" class="form-control" id="bookingFrom" placeholder="Leaving from" autofocus
              formControlName="depature" [ngClass]="{ 'is-invalid': isFormSubmitted && f.depature.errors }">

            <ng-container *ngIf="isFormSubmitted && f.depature.invalid">
              <span class="text-danger" *ngIf="f.depature.errors.required">Please enter a depature</span>
              <span class="text-danger" *ngIf="f.depature.errors.minlength || f.depature.errors.maxlength">Enter 3
                character depature code</span>
            </ng-container>
          </div>

          <div class="form-group col-md-6">
            <label for="bookingTo">To</label>
            <input type="text" class="form-control" id="bookingTo" placeholder="Going to" formControlName="arrival"
              [ngClass]="{ 'is-invalid': isFormSubmitted && f.arrival.errors }">

            <ng-container *ngIf="isFormSubmitted && f.arrival.invalid">
              <span class="text-danger" *ngIf="f.arrival.errors.required">Please enter an arrival</span>
              <span class="text-danger" *ngIf="f.arrival.errors.minlength || f.arrival.errors.maxlength">Enter 3
                character arrival code</span>
            </ng-container>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="depart">Depart</label>
            <input type="text" class="form-control" id="depart" placeholder="Depart" formControlName="departDate"
              bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', useUtc: true }" [minDate]="minDate">
          </div>

          <div class="form-group col-md-6">
            <label for="return">Return</label>
            <input type="text" class="form-control" id="return" placeholder="Return" formControlName="arrivalDate"
              bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [minDate]="minDate">
          </div>
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="submitBooking()">Search flights</button>
        </div>
      </form>
    </div>

  </div><!-- END Form field  -->
</div>

<ng-container *ngIf="FlightRangeData">
  <div class="container py-5">
    <div class="row">

      <!-- Filter data menu section -->
      <div class="col-md-3">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h6 class="panel-title" data-toggle="collapse" data-target="#collapseStop">
                Stops
              </h6>
            </div>
            <hr>
            <div id="collapseStop" class="panel-collapse collapse show">
              <div class="panel-body">

                <ng-container *ngFor="let stop of uniqueStops">
                  <div class="container">
                    <div class="row">
                      <input type="checkbox" name="{{stop}}" id="{{stop}}" checked="checked"
                        (change)="filterFlightSearch('Stops', stop)"> &nbsp;
                      <label for="{{stop}}">
                        {{stop}} {{stop > 1 ? 'Stops' : 'Stop'}}
                      </label> <br><br>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <br>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h6 class="panel-title" data-toggle="collapse" data-target="#collapseAirline">
                Airlines
              </h6>
            </div>
            <hr>
            <div id="collapseAirline" class="panel-collapse collapse show">
              <div class="panel-body">

                <ng-container *ngFor="let airline of uniqueAirline">
                  <div class="container">
                    <div class="row">
                      <input type="checkbox" name="airline" id="{{airline}}" checked="checked"
                        (change)="filterFlightSearch('AirlineName', airline)"> &nbsp;
                      <label for="{{airline}}"></label>{{airline}} <br><br>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END Filter data menu -->

      <!-- Flights result content section  -->
      <div class="col-md-9">
        <ng-container *ngIf="!loading">
          <div class="pb-2 mr-5">

            <div class="container">
              <div class="mt-2">
                <div class="form-group">
                  {{resultsCount}} {{resultsCount > 0 ? 'results' : 'result'}}
                </div>
              </div>
            </div>
          </div>


          <ng-container *ngIf="FlightRangeData?.length > 0; else noMatch">
            <ng-container *ngFor="let flight of FlightRangeData | slice:0: end">
              <div class="row flight-details">
                <div class="col-md-8 fd-1">
                  <div class="row my-2 mx-2">
                    <div class="col-md-4">
                      <img src="{{flight.AirlineLogoAddress}}" alt="{{flight.AirlineName}}">
                      <div class="my-2">{{flight.AirlineName}}</div>
                    </div>
                    <div class="col-md-7 mx-2">
                      <div class="row mb-3">
                        <div class="col-md-3 text-center mt-3">
                          <p>{{fromLocation}}</p>
                        </div>

                        <div class="col-md-6 text-center">
                          <span>{{flight.Stops}} {{flight.Stops > 1 ? 'Stops' : 'Stop'}}</span>
                          <img src="assets/{{flight.Stops}}-stops.png" alt="{{flight.Stops}}">
                          <span>{{flight.OutboundFlightsDuration | inHourMin}}</span>
                        </div>

                        <div class="col-md-3 text-center mt-3">
                          <p>{{toLocation}}</p>
                        </div>
                      </div>

                      <div class="row ">
                        <div class="col-md-3 text-center mt-3">
                          <p>{{toLocation}}</p>
                        </div>

                        <div class="col-md-6 text-center">
                          <span>{{flight.Stops}} {{flight.Stops > 1 ? 'Stops' : 'Stop'}}</span>
                          <img src="assets/{{flight.Stops}}-stops.png" alt="{{flight.Stops}}">
                          <span>{{flight.InboundFlightsDuration | inHourMin}}</span>
                        </div>

                        <div class="col-md-3 text-center mt-3">
                          <p>{{fromLocation}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 fd-2 py-5 px-5">
                  <p><span>{{flight.TotalAmount | currency:'USD'}}</span></p>
                  <div class="form-group">
                    <button type="button" class="btn btn-success">Select</button>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-template #noMatch>
          <div class="row flight-details">
            <div class="col-md-12 fd-1">
              <div class="row my-2 mx-2">
                <div class="col-md-12 text-center py-5">
                  <p>Sorry, there are no flights that matchs your <b>filters.</b></p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <div class="container" *ngIf="FlightRangeData?.length > 0">
          <div class="row">
            <div class="col text-center">
              <button type="button" class="btn btn-info" (click)="getMoreFlights()" [disabled]="disableMore">
                Show more results</button>
            </div>
          </div>
        </div>

      </div><!-- END Flights result content section  -->
    </div>
  </div>
</ng-container>

<!-- Loading content -->

<div class="container" *ngIf="loading">
  <div class="row d-flex justify-content-center">
    <div class="spinner-grow" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>